<mat-card class="container">
  <mat-card-header>
    <mat-card-title>User Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
        <div class="col">
        <strong>Name:</strong> {{ user.fullname }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Email:</strong> {{ user.email }}
      </div>
      <div class="col">
        <strong>Message:</strong> {{ user.message }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
